body {
background: #efefef;
font-family: sans-serif;
margin: 10px 0px 20px 0px;
}
#container { 
margin: 0 auto;
width: 800px;
}
header { 
color: rgba(0, 0, 0, 0.5);
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
margin: 0px;
display: block;
padding-bottom: 10px;
}
header * {  
margin: 0px;
padding: 0px;
}
header h1 { 
font-family: "bree-1", "bree-2", sans-serif;
font-size: 44px;
padding: 0 0 0 20px;
}
header p { 
font-size: 10px;
letter-spacing: 1px;
color: rgba(0, 0, 0, 0.5);
padding: 0 0 0 20px;
margin: -5px 0 0 2px;
}
footer {
vertical-align:top;
position: absolute;
width: 800px;
zIndex: 999;
top:600px;
}
input { 
font-family: monospace;
font-size:24px;
padding: 5px 5px 0px 5px;
margin: 0 0 0 0;
width: 80%;
}
button {
float:right;
font-family: monospace;
font-size:24px;
padding: 0px 5px 2px 5px;
margin: 0 0 0 0;

}
article {
position:absolute;
overflow-x:hidden;
}

section {
display:inline;
height: auto;  
margin: 0 auto;  
}
section p { 
font-size: 10px;
letter-spacing: 1px;
color: rgba(0, 0, 0, 0.5);
margin: 5px 0 0 5px;
}
a {
color: rgba(0, 0, 0, 0.5);
text-decoration: underline; 
}
a:hover { 
position: relative;
color:  rgba(0, 0, 0, 0.8);
}
#pict-frame {
display: block;
}
.shadow-box {
border-top:1px solid #eee;
margin: 5px;
float: left;
-moz-box-shadow: 1px 6px 10px  #111; /* FF3.5+ */
-webkit-box-shadow: 1px 6px 10px  #111; /* Saf3.0+, Chrome */
box-shadow: 1px 6px 10px  #111; /* Opera 10.5, IE 9.0 */
}
section:first {
  background: blue;
}
ul {
list-style-type: none;
padding-left:0px;
margin:0px;
}
li{
margin:5px;
padding:5px 0;
display:block;
clear:both;
}

img{
width:30px;
height:30px;
float:left;
margin-right:5px;
}
#hint{
float:right;
}

#twitter-connect-placeholder{
float:right;
}